In [1]:
pip install linearmodels

Requirement already satisfied: linearmodels in /usr/local/lib/python3.6/dist-packages (4.13)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.16.4)
Requirement already satisfied: mypy-extensions>=0.4 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.4.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.3.0)
Requirement already satisfied: statsmodels>=0.8 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.10.1)
Requirement already satisfied: pandas>=0.20 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.24.2)
Requirement already satisfied: patsy in /usr/local/lib/python3.6/dist-packages (from linearmodels) (0.5.1)
Requirement already satisfied: cached-property>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from linearmodels) (1.5.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20->linearmodels) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20->linearmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy->linearmodels) (1.12.0)

In [2]:
import pandas as pd
file="https://github.com/VitorKamada/ECO7110/raw/master/Data/wagepan.dta"
data = pd.read_stata(file)
data[1:10]

   nr  year  agric  black  bus  construc  ...  d83  d84  d85  d86  d87  expersq
1  13  1981      0      0    0         0  ...    0    0    0    0    0        4
2  13  1982      0      0    1         0  ...    0    0    0    0    0        9
3  13  1983      0      0    1         0  ...    1    0    0    0    0       16
4  13  1984      0      0    0         0  ...    0    1    0    0    0       25
5  13  1985      0      0    1         0  ...    0    0    1    0    0       36
6  13  1986      0      0    1         0  ...    0    0    0    1    0       49
7  13  1987      0      0    1         0  ...    0    0    0    0    1       64
8  17  1980      0      0    0         0  ...    0    0    0    0    0       16
9  17  1981      0      0    0         0  ...    0    0    0    0    0       25

[9 rows x 44 columns]

In [3]:
year = pd.Categorical(data.year)
nr = pd.Categorical(data.nr)
data = data.set_index(['nr', 'year'])
data['year'] = year
data['nr'] = nr
data[1:10]

         agric  black  bus  construc  ent  ...  d86  d87  expersq  year  nr
nr year                                    ...
13 1981      0      0    0         0    0  ...    0    0        4  1981  13
   1982      0      0    1         0    0  ...    0    0        9  1982  13
   1983      0      0    1         0    0  ...    0    0       16  1983  13
   1984      0      0    0         0    0  ...    0    0       25  1984  13
   1985      0      0    1         0    0  ...    0    0       36  1985  13
   1986      0      0    1         0    0  ...    1    0       49  1986  13
   1987      0      0    1         0    0  ...    0    1       64  1987  13
17 1980      0      0    0         0    0  ...    0    0       16  1980  17
   1981      0      0    0         0    0  ...    0    0       25  1981  17

[9 rows x 44 columns]

In [4]:
from linearmodels.panel import PooledOLS
import statsmodels.api as sm
exog_vars = ['black','hisp','exper','expersq',
           'married', 'educ', 'union', 'year']
exog = sm.add_constant(data[exog_vars])
OLS = PooledOLS(data.lwage, 
 exog).fit(cov_type='clustered', cluster_entity=True)
print(OLS)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1893
Estimator:                  PooledOLS   R-squared (Between):              0.2066
No. Observations:                4360   R-squared (Within):               0.1692
Date:                Wed, Aug 07 2019   R-squared (Overall):              0.1893
Time:                        14:35:16   Log-likelihood                   -2982.0
Cov. Estimator:             Clustered
                                        F-statistic:                      72.459
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(14,4345)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             47.177
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(14,4345)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.0921     0.1608     0.5725     0.5670     -0.2232      0.4073
black         -0.1392     0.0505    -2.7580     0.0058     -0.2382     -0.0403
hisp           0.0160     0.0390     0.4103     0.6816     -0.0605      0.0926
exper          0.0672     0.0196     3.4338     0.0006      0.0288      0.1056
expersq       -0.0024     0.0010    -2.3543     0.0186     -0.0044     -0.0004
married        0.1083     0.0260     4.1615     0.0000      0.0573      0.1593
educ           0.0913     0.0111     8.2496     0.0000      0.0696      0.1131
union          0.1825     0.0274     6.6540     0.0000      0.1287      0.2362
year.1981      0.0583     0.0282     2.0677     0.0387      0.0030      0.1136
year.1982      0.0628     0.0369     1.6992     0.0894     -0.0097      0.1352
year.1983      0.0620     0.0462     1.3419     0.1797     -0.0286      0.1526
year.1984      0.0905     0.0579     1.5614     0.1185     -0.0231      0.2041
year.1985      0.1092     0.0668     1.6356     0.1020     -0.0217      0.2402
year.1986      0.1420     0.0762     1.8636     0.0624     -0.0074      0.2913
year.1987      0.1738     0.0851     2.0418     0.0412      0.0069      0.3407
==============================================================================

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [5]:
from linearmodels.panel import RandomEffects
RE = RandomEffects(data.lwage, 
 exog).fit(cov_type='clustered', cluster_entity=True)
print(RE)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:              RandomEffects   R-squared (Between):              0.1853
No. Observations:                4360   R-squared (Within):               0.1799
Date:                Wed, Aug 07 2019   R-squared (Overall):              0.1828
Time:                        14:35:16   Log-likelihood                   -1622.5
Cov. Estimator:             Clustered
                                        F-statistic:                      68.409
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(14,4345)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             43.681
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(14,4345)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.0234     0.1598     0.1465     0.8835     -0.2899      0.3368
black         -0.1394     0.0509    -2.7390     0.0062     -0.2391     -0.0396
hisp           0.0217     0.0399     0.5453     0.5856     -0.0565      0.0999
exper          0.1058     0.0164     6.4674     0.0000      0.0738      0.1379
expersq       -0.0047     0.0008    -5.9780     0.0000     -0.0063     -0.0032
married        0.0638     0.0190     3.3651     0.0008      0.0266      0.1010
educ           0.0919     0.0111     8.2501     0.0000      0.0700      0.1137
union          0.1059     0.0208     5.0813     0.0000      0.0650      0.1467
year.1981      0.0404     0.0275     1.4675     0.1423     -0.0136      0.0944
year.1982      0.0309     0.0350     0.8804     0.3787     -0.0378      0.0996
year.1983      0.0202     0.0438     0.4606     0.6451     -0.0657      0.1061
year.1984      0.0430     0.0555     0.7744     0.4387     -0.0659      0.1519
year.1985      0.0577     0.0645     0.8944     0.3712     -0.0688      0.1842
year.1986      0.0918     0.0746     1.2302     0.2187     -0.0545      0.2382
year.1987      0.1348     0.0848     1.5901     0.1119     -0.0314      0.3011
==============================================================================

In [6]:
from linearmodels.panel import PanelOLS
FE = PanelOLS(data.lwage, exog, entity_effects=True, 
 drop_absorbed=True).fit(cov_type='clustered', cluster_entity=True)
print(FE)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:                   PanelOLS   R-squared (Between):             -0.0528
No. Observations:                4360   R-squared (Within):               0.1806
Date:                Wed, Aug 07 2019   R-squared (Overall):              0.0552
Time:                        14:35:16   Log-likelihood                   -1324.8
Cov. Estimator:             Clustered
                                        F-statistic:                      83.851
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(10,3805)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             46.661
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(10,3805)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          1.0276     0.0399     25.781     0.0000      0.9495      1.1058
exper          0.1321     0.0120     11.014     0.0000      0.1086      0.1557
expersq       -0.0052     0.0008    -6.4051     0.0000     -0.0068     -0.0036
married        0.0467     0.0210     2.2243     0.0262      0.0055      0.0878
union          0.0800     0.0227     3.5205     0.0004      0.0354      0.1246
year.1981      0.0190     0.0227     0.8387     0.4017     -0.0255      0.0636
year.1982     -0.0113     0.0212    -0.5341     0.5933     -0.0529      0.0302
year.1983     -0.0420     0.0205    -2.0493     0.0405     -0.0822     -0.0018
year.1984     -0.0385     0.0212    -1.8185     0.0691     -0.0799      0.0030
year.1985     -0.0432     0.0176    -2.4601     0.0139     -0.0777     -0.0088
year.1986     -0.0274     0.0162    -1.6897     0.0912     -0.0592      0.0044
==============================================================================

F-test for Poolability: 9.6423
P-value: 0.0000
Distribution: F(544,3805)

Included effects: Entity

/usr/local/lib/python3.6/dist-packages/linearmodels/panel/model.py:1316: AbsorbingEffectWarning:
Variables have been fully absorbed and have removed from the regression:

black, hisp, educ, year.1987

  AbsorbingEffectWarning)

In [7]:
from linearmodels.panel import compare
print(compare({'OLS':OLS,'RE': RE, 'FE': FE}))

                           Model Comparison
=====================================================================
                                   FE           OLS                RE
---------------------------------------------------------------------
Dep. Variable                   lwage         lwage             lwage
Estimator                    PanelOLS     PooledOLS     RandomEffects
No. Observations                 4360          4360              4360
Cov. Est.                   Clustered     Clustered         Clustered
R-squared                      0.1806        0.1893            0.1806
R-Squared (Within)             0.1806        0.1692            0.1799
R-Squared (Between)           -0.0528        0.2066            0.1853
R-Squared (Overall)            0.0552        0.1893            0.1828
F-statistic                    83.851        72.459            68.409
P-value (F-stat)               0.0000        0.0000            0.0000
=====================     ===========   ===========   ===============
const                          1.0276        0.0921            0.0234
                             (25.781)      (0.5725)          (0.1465)
exper                          0.1321        0.0672            0.1058
                             (11.014)      (3.4338)          (6.4674)
expersq                       -0.0052       -0.0024           -0.0047
                            (-6.4051)     (-2.3543)         (-5.9780)
married                        0.0467        0.1083            0.0638
                             (2.2243)      (4.1615)          (3.3651)
union                          0.0800        0.1825            0.1059
                             (3.5205)      (6.6540)          (5.0813)
year.1981                      0.0190        0.0583            0.0404
                             (0.8387)      (2.0677)          (1.4675)
year.1982                     -0.0113        0.0628            0.0309
                            (-0.5341)      (1.6992)          (0.8804)
year.1983                     -0.0420        0.0620            0.0202
                            (-2.0493)      (1.3419)          (0.4606)
year.1984                     -0.0385        0.0905            0.0430
                            (-1.8185)      (1.5614)          (0.7744)
year.1985                     -0.0432        0.1092            0.0577
                            (-2.4601)      (1.6356)          (0.8944)
year.1986                     -0.0274        0.1420            0.0918
                            (-1.6897)      (1.8636)          (1.2302)
black                                       -0.1392           -0.1394
                                          (-2.7580)         (-2.7390)
hisp                                         0.0160            0.0217
                                           (0.4103)          (0.5453)
educ                                         0.0913            0.0919
                                           (8.2496)          (8.2501)
year.1987                                    0.1738            0.1348
                                           (2.0418)          (1.5901)
======================= ============= ============= =================
Effects                        Entity
---------------------------------------------------------------------

T-stats reported in parentheses

In [0]:
data['experbar'] = data.groupby(nr)['exper'].transform('mean')
data['expersqbar'] = data.groupby(nr)['expersq'].transform('mean')
data['marriedbar'] = data.groupby(nr)['married'].transform('mean')
data['unionbar'] = data.groupby(nr)['union'].transform('mean')

In [9]:
data[1:10]

         agric  black  bus  ...  expersqbar  marriedbar  unionbar
nr year                     ...
13 1981      0      0    0  ...        25.5         0.0     0.125
   1982      0      0    1  ...        25.5         0.0     0.125
   1983      0      0    1  ...        25.5         0.0     0.125
   1984      0      0    0  ...        25.5         0.0     0.125
   1985      0      0    1  ...        25.5         0.0     0.125
   1986      0      0    1  ...        25.5         0.0     0.125
   1987      0      0    1  ...        25.5         0.0     0.125
17 1980      0      0    0  ...        61.5         0.0     0.000
   1981      0      0    0  ...        61.5         0.0     0.000

[9 rows x 48 columns]

In [10]:
Exog = ['black','hisp','exper','expersq','married', 'educ',
        'union', 'experbar', 'expersqbar', 'marriedbar',
        'unionbar', 'd81','d82','d83','d84','d85','d86']
Exog = sm.add_constant(data[Exog])

CRE = RandomEffects(data.lwage,
    Exog).fit(cov_type='clustered', cluster_entity=True)
print(CRE)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1855
Estimator:              RandomEffects   R-squared (Between):              0.2192
No. Observations:                4360   R-squared (Within):               0.1806
Date:                Wed, Aug 07 2019   R-squared (Overall):              0.2013
Time:                        14:35:17   Log-likelihood                   -1608.1
Cov. Estimator:             Clustered
                                        F-statistic:                      58.165
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(17,4342)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             40.705
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(17,4342)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.5102     0.2255     2.2624     0.0237      0.0681      0.9524
black         -0.1388     0.0505    -2.7513     0.0060     -0.2377     -0.0399
hisp           0.0048     0.0386     0.1237     0.9016     -0.0709      0.0805
exper          0.1321     0.0120     11.005     0.0000      0.1086      0.1557
expersq       -0.0052     0.0008    -6.3999     0.0000     -0.0068     -0.0036
married        0.0467     0.0210     2.2225     0.0263      0.0055      0.0879
educ           0.0946     0.0112     8.4107     0.0000      0.0726      0.1167
union          0.0800     0.0227     3.5176     0.0004      0.0354      0.1246
experbar      -0.1826     0.0467    -3.9091     0.0001     -0.2742     -0.0910
expersqbar     0.0103     0.0028     3.6211     0.0003      0.0047      0.0159
marriedbar     0.0970     0.0448     2.1658     0.0304      0.0092      0.1848
unionbar       0.1907     0.0474     4.0200     0.0001      0.0977      0.2837
d81            0.0190     0.0227     0.8380     0.4021     -0.0255      0.0636
d82           -0.0113     0.0212    -0.5336     0.5936     -0.0529      0.0303
d83           -0.0420     0.0205    -2.0477     0.0407     -0.0822     -0.0018
d84           -0.0385     0.0212    -1.8170     0.0693     -0.0800      0.0030
d85           -0.0432     0.0176    -2.4581     0.0140     -0.0777     -0.0088
d86           -0.0274     0.0162    -1.6884     0.0914     -0.0592      0.0044
==============================================================================